## Chia c·ªôt time

### M·ªü file Lp_divide_reactions.csv

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('C:/Users/Admin/aim/project_analysis_data_facebook/data/Lp_select_column.csv')

In [3]:
df

,post_id,post_text,time,comments,comments_full,shares,reaction_count,th√≠ch,y√™u th√≠ch,th∆∞∆°ng th∆∞∆°ng,haha,wow,bu·ªìn,ph·∫´n n·ªô
0,8.992690e+14,üî¥üó£Ô∏è Emile Heskey is the latest to tell the tal...,11/21/2023 0:01,16,"[{'comment_id': '1186163892166613', 'comment_u...",101,1175,982,183,10,0.0,0.0,0.0,0.0
1,8.992110e+14,Back-to-back PFA Premier League Fans‚Äô Player o...,11/20/2023 22:00,83,"[{'comment_id': '277210241476921', 'comment_ur...",31,4594,3638,902,49,1.0,4.0,0.0,0.0
2,8.990810e+14,Ryan's first goal in Red üòç\n\nA look back at o...,11/20/2023 21:10,49,"[{'comment_id': '388506910181825', 'comment_ur...",53,5157,4072,1022,55,3.0,4.0,1.0,0.0
3,8.991520e+14,"Well in, Robbo üëè #Euro2024 üîú\n\nV√¢ng, Robbo üëè ...",11/20/2023 20:01,150,"[{'comment_id': '314996431472511', 'comment_ur...",61,16019,12735,3112,146,19.0,6.0,1.0,0.0
4,8.991290e+14,Two years ago today... Diogo üò≤\n\nNg√†y n√†y hai...,11/20/2023 19:20,211,"[{'comment_id': '1028198778438522', 'comment_u...",211,14403,11699,2506,125,45.0,26.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,8.948540e+14,"""I really thank him because in this period he ...",11/13/2023 17:03,97,"[{'comment_id': '1120275918934925', 'comment_u...",43,13139,11518,1523,77,9.0,7.0,2.0,3.0
94,8.948430e+14,J√ºrgen Klopp confirmed Joe Gomez and Ibrahima ...,11/13/2023 16:39,114,"[{'comment_id': '707770537958734', 'comment_ur...",34,8853,7779,934,85,3.0,9.0,39.0,4.0
95,8.948350e+14,Anfield remembers.\n\nAnfield nh·ªõ.,11/13/2023 16:24,149,"[{'comment_id': '7303758222967701', 'comment_u...",309,16050,13364,2481,174,8.0,13.0,7.0,3.0
96,8.944540e+14,Good morning üòÅüî¥\n\nCh√†o bu·ªïi s√°ng üòÅüî¥,11/13/2023 15:13,417,"[{'comment_id': '1483340398900267', 'comment_u...",124,34107,26432,7266,385,15.0,6.0,2.0,1.0
97,8.955110e+14,Big Virg against Brentford üîù\n\nBig Virg ch·ªëng...,11/14/2023 18:58,631,"[{'comment_id': '304499032539488', 'comment_ur...",727,46476,39460,6610,353,12.0,38.0,1.0,2.0

### T√°ch time ra ng√†y th√°ng nƒÉm

#### √âp ki·ªÉu thu·ªôc t√≠nh time t·ª´ str th√†nh datetime

In [5]:
date_list = []

for date in df.time:
    date_list.append(date[:10])

#### t·∫°o 1 list ch·ª©a c√°c gi·ªù ƒëƒÉng b√†i

In [30]:
hour_list = []

for time in df.time:
    time_obj = datetime.strptime(time, '%m/%d/%Y %H:%M')
    time = time_obj.time()
    hour_list.append(time.hour)

In [31]:
hour_list

[0,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 5,
 3,
 1,
 0,
 23,
 22,
 21,
 20,
 18,
 17,
 15,
 7,
 4,
 2,
 1,
 1,
 0,
 23,
 22,
 21,
 19,
 18,
 17,
 16,
 15,
 4,
 2,
 1,
 23,
 22,
 21,
 19,
 18,
 17,
 17,
 16,
 16,
 16,
 16,
 1,
 1,
 1,
 0,
 23,
 22,
 21,
 19,
 18,
 17,
 16,
 15,
 1,
 0,
 23,
 22,
 22,
 21,
 19,
 18,
 16,
 15,
 4,
 2,
 1,
 23,
 22,
 21,
 20,
 18,
 17,
 17,
 16,
 15,
 14,
 2,
 1,
 1,
 0,
 22,
 21,
 20,
 18,
 18,
 17,
 17,
 16,
 16,
 15,
 18]

### T·∫°o dataframe ch·ª©a ng√†y v√† dataframe ch∆∞as gi·ª´o ƒëƒÉng b√†i

In [34]:
df_date = pd.DataFrame(date_list, columns = ["date"])
df_hour = pd.DataFrame(hour_list, columns = ["hour"])
df_hour_date = pd.concat([df_hour, df_date], axis = 1)
# b·ªè c·ªôt time trong dataframe c≈©
no_time_df = df.drop(['time'], axis = 1)
# n·ªëi dataframe ƒë√£ x√≥a time v·ªõi df_hour_date
new_df = pd.concat([no_time_df, df_hour_date], axis = 1)

In [35]:
new_df

,post_id,post_text,comments,comments_full,shares,reaction_count,th√≠ch,y√™u th√≠ch,th∆∞∆°ng th∆∞∆°ng,haha,wow,bu·ªìn,ph·∫´n n·ªô,hour,date
0,8.992690e+14,üî¥üó£Ô∏è Emile Heskey is the latest to tell the tal...,16,"[{'comment_id': '1186163892166613', 'comment_u...",101,1175,982,183,10,0.0,0.0,0.0,0.0,0,11/21/2023
1,8.992110e+14,Back-to-back PFA Premier League Fans‚Äô Player o...,83,"[{'comment_id': '277210241476921', 'comment_ur...",31,4594,3638,902,49,1.0,4.0,0.0,0.0,22,11/20/2023
2,8.990810e+14,Ryan's first goal in Red üòç\n\nA look back at o...,49,"[{'comment_id': '388506910181825', 'comment_ur...",53,5157,4072,1022,55,3.0,4.0,1.0,0.0,21,11/20/2023
3,8.991520e+14,"Well in, Robbo üëè #Euro2024 üîú\n\nV√¢ng, Robbo üëè ...",150,"[{'comment_id': '314996431472511', 'comment_ur...",61,16019,12735,3112,146,19.0,6.0,1.0,0.0,20,11/20/2023
4,8.991290e+14,Two years ago today... Diogo üò≤\n\nNg√†y n√†y hai...,211,"[{'comment_id': '1028198778438522', 'comment_u...",211,14403,11699,2506,125,45.0,26.0,1.0,1.0,19,11/20/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,8.948540e+14,"""I really thank him because in this period he ...",97,"[{'comment_id': '1120275918934925', 'comment_u...",43,13139,11518,1523,77,9.0,7.0,2.0,3.0,17,11/13/2023
94,8.948430e+14,J√ºrgen Klopp confirmed Joe Gomez and Ibrahima ...,114,"[{'comment_id': '707770537958734', 'comment_ur...",34,8853,7779,934,85,3.0,9.0,39.0,4.0,16,11/13/2023
95,8.948350e+14,Anfield remembers.\n\nAnfield nh·ªõ.,149,"[{'comment_id': '7303758222967701', 'comment_u...",309,16050,13364,2481,174,8.0,13.0,7.0,3.0,16,11/13/2023
96,8.944540e+14,Good morning üòÅüî¥\n\nCh√†o bu·ªïi s√°ng üòÅüî¥,417,"[{'comment_id': '1483340398900267', 'comment_u...",124,34107,26432,7266,385,15.0,6.0,2.0,1.0,15,11/13/2023
97,8.955110e+14,Big Virg against Brentford üîù\n\nBig Virg ch·ªëng...,631,"[{'comment_id': '304499032539488', 'comment_ur...",727,46476,39460,6610,353,12.0,38.0,1.0,2.0,18,11/14/2023

### T·∫°o 1 list ch·ª©a th·ª© ƒëƒÉng b√†i

In [40]:
day_of_week_list = []

for date in new_df.date:
    specific_date = pd.to_datetime(date)
    day_of_week = specific_date.strftime('%A')
    day_of_week_list.append(day_of_week)

### Th√™m th·ª© v√†o new_df

In [41]:
day_df = pd.DataFrame(day_of_week_list, columns = ["day"])
new_df_2 = pd.concat([new_df, day_df], axis = 1)

In [44]:
day_df

        day
0   Tuesday
1    Monday
2    Monday
3    Monday
4    Monday
..      ...
93   Monday
94   Monday
95   Monday
96   Monday
97  Tuesday

[98 rows x 1 columns]

In [45]:
new_df_2

,post_id,post_text,comments,comments_full,shares,reaction_count,th√≠ch,y√™u th√≠ch,th∆∞∆°ng th∆∞∆°ng,haha,wow,bu·ªìn,ph·∫´n n·ªô,hour,date,day
0,8.992690e+14,üî¥üó£Ô∏è Emile Heskey is the latest to tell the tal...,16,"[{'comment_id': '1186163892166613', 'comment_u...",101,1175,982,183,10,0.0,0.0,0.0,0.0,0,11/21/2023,Tuesday
1,8.992110e+14,Back-to-back PFA Premier League Fans‚Äô Player o...,83,"[{'comment_id': '277210241476921', 'comment_ur...",31,4594,3638,902,49,1.0,4.0,0.0,0.0,22,11/20/2023,Monday
2,8.990810e+14,Ryan's first goal in Red üòç\n\nA look back at o...,49,"[{'comment_id': '388506910181825', 'comment_ur...",53,5157,4072,1022,55,3.0,4.0,1.0,0.0,21,11/20/2023,Monday
3,8.991520e+14,"Well in, Robbo üëè #Euro2024 üîú\n\nV√¢ng, Robbo üëè ...",150,"[{'comment_id': '314996431472511', 'comment_ur...",61,16019,12735,3112,146,19.0,6.0,1.0,0.0,20,11/20/2023,Monday
4,8.991290e+14,Two years ago today... Diogo üò≤\n\nNg√†y n√†y hai...,211,"[{'comment_id': '1028198778438522', 'comment_u...",211,14403,11699,2506,125,45.0,26.0,1.0,1.0,19,11/20/2023,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,8.948540e+14,"""I really thank him because in this period he ...",97,"[{'comment_id': '1120275918934925', 'comment_u...",43,13139,11518,1523,77,9.0,7.0,2.0,3.0,17,11/13/2023,Monday
94,8.948430e+14,J√ºrgen Klopp confirmed Joe Gomez and Ibrahima ...,114,"[{'comment_id': '707770537958734', 'comment_ur...",34,8853,7779,934,85,3.0,9.0,39.0,4.0,16,11/13/2023,Monday
95,8.948350e+14,Anfield remembers.\n\nAnfield nh·ªõ.,149,"[{'comment_id': '7303758222967701', 'comment_u...",309,16050,13364,2481,174,8.0,13.0,7.0,3.0,16,11/13/2023,Monday
96,8.944540e+14,Good morning üòÅüî¥\n\nCh√†o bu·ªïi s√°ng üòÅüî¥,417,"[{'comment_id': '1483340398900267', 'comment_u...",124,34107,26432,7266,385,15.0,6.0,2.0,1.0,15,11/13/2023,Monday
97,8.955110e+14,Big Virg against Brentford üîù\n\nBig Virg ch·ªëng...,631,"[{'comment_id': '304499032539488', 'comment_ur...",727,46476,39460,6610,353,12.0,38.0,1.0,2.0,18,11/14/2023,Tuesday

### L∆∞u v√†o file data_ready.csv

In [48]:
new_df_2.to_csv('C:/Users/Admin/aim/project_analysis_data_facebook/data/data_ready.csv', index=False)